.gitsecret/keys/random_seed
!*.secret
backend/heat_island/ee-simoneldavid-99bb414586e9.json
backend/heat_island/pdf_generator.py
nginx/certs/heat_island_aim_space_com_e338a_d1221_1713429682_ef96a3287b28207cc79da0e67d87546b.crt
nginx/keys/e338a_d1221_d3a68031efc21bf5227aa5bbb31e1d71.keyterraform/heat_island.pem
terraform/secret
**/plan*
**/.terraform/
**terraform.tfstate*