.gitsecret/keys/random_seed
!*.secret
terraform/plan*
terraform/.terraform*
terraform/.terraform/
terraform/terraform.tfstate*
terraform.tfstate*
frontend/node_modules/
frontend/package-lock.json
frontend/build/
.DS_Store