form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.704);
    box-shadow: 1px 1px 10px 1px rgb(148, 148, 148);
  }
  
  label {
    display: block;
    /* margin-bottom: 8px; */
    font-weight: bold;
  }
  
  input {
    width: 70%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 10px;
  }
  
  button {
    background-color: #040404;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #000000;
  }

  select {
    width: 80%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-size: 20px; 
    cursor: pointer;
    margin-left: 10px;
  }
  
  select:focus {
    border-color: #000; 
    outline: none; 
  }
  
  select option:hover {
    background-color: #040303; 
  }
  
  .select-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: 100% auto;
    pointer-events: none; 
  }
  

  .error-popup {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  .recommendation-popup {
    color: orange;
    font-size: 0.9em;
    margin-top: 5px;
  }
  